@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Onest:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=New+Rocker&family=Space+Grotesk:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'montserrat';
}

/* Header */
header {
    padding: 24px;
    font-family: 'Onest', sans-serif;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E1E1E1;
    overflow-x: hidden;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}


/* span */
span {
    display: none;
}

nav ol {
    display: flex;
    list-style: none;
    gap: 35%;
    white-space: nowrap;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.nav {
    color: #1572E0;
    font-weight: 600;

}

/* Main */
main {
    overflow-x: hidden;
    width: 100%;
    padding-top: 5%;
}

.hero-section {
    background-image: url('contents/about-2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    height: 85vh;
}

.hero-section div {
    backdrop-filter: brightness(30%);
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8%;
    gap: 20px;
}


.hero-section h1 {
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    line-height: 80px;
    color: #E1E1E1;
    text-align: left;
}

.hero-section strong {
    color: #ffd401;
}


.hero-section .learn_more button {
    padding: 20px 70px;
    font-size: 20px;
    box-shadow: #1572E0 2px 2px 2px 2px;
}


/* About Us */
.about {
    display: flex;
    align-items: center;
    margin: 10% 5% 0% 0%;
    width: 100%;
}

.about .img {
    position: relative;

}

.about .img img {
    width: 90%;
    object-fit: cover;
    /* border-radius: 10%; */
    border-top-right-radius: 10%;
    box-shadow: gray 2px 2px 2px 2px;
}

.about_us {
    position: absolute;
    margin: 10% 5% 5% 5%;
    padding: 50px;
    box-shadow: gray 2px 2px 2px 2px;
    border-radius: 10px;
    transition: transform 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    right: 0;
    gap: 10px;
    width: 50%;
    background-color: white;
}


.about_us:hover {
    transform: scale(1.05);
}

.about_us h2 {
    color: #0091dc;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 100;
    /* padding-bottom: 10px; */
}

.about_us h3 {
    /* color: #1572E0; */
    font-family: Roboto;
    font-weight: 100;
    font-size: 40px;
    color: black;
    padding-bottom: 10px;
}

.about_us strong {
    color: #0091dc;
}

.about_us p {
    font-weight: 500;
    line-height: 30px;
    color: black;
    padding-bottom: 20px;
}

.learn_more button {
    padding: 10px 20px;
    border-radius: 24px;
    font-family: Space Grotesk;
    font-size: 16px;
    color: black;
    cursor: pointer;
    box-shadow: #1572E0 1px 1px 1px 1px;
    border: none;
    transition: transform 0.8s ease-in-out;
}


.learn_more button:hover {
    background: #1572E0;
    color: white;
    transition-duration: 1s;
    box-shadow: none;
    transform: scale(1.05);
}


/* what we offer */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10% 5% 10% 0%;
}

.offer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 5%;
}

.offer h2 {
    color: #0091dc;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 100;

}

.offer h3 {
    font-family: Roboto;
    font-size: 40px;
    color: black;

    padding-bottom: 10px;
}


.paint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.offer_content {
    display: flex;
    gap: 50px;
    align-items: center;

}

.offer_content div {
    height: 30vh;
    text-align: center;
    width: 20rem;
    text-align: center;
    padding-top: 30px;
    box-shadow: rgb(243, 235, 235) 0px 0px 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: transform 0.8s ease-in-out;
}

.offer_content div:hover {
    transform: scale(1.09);
}

.fa {
    color: #0091dc;
    font-size: 50px;


}

.material-icons {
    color: #0091dc;
    font-size: 50px;


}

.offer_content div p {
    font-size: 22px;
    font-weight: 900;
    font-family: Roboto;
}